.top_title{
    line-height: 29px;
    margin: 0 auto;
    background-color: #f7f7f7; 
    text-align: center;
    width: 1200px;
    height: 29px;
    display: flex;
    justify-content: space-between;
}
.user_con{
    list-style: none;
}
.user_con_ul{
    list-style: none;
}
.top_right{
    line-height: 29px;
    background-color: #f7f7f7; 
    display: flex;
    justify-content: space-between;
}
.user_info{
    display: none;
}
.login_info li{
    display: inline;
}

.top_info {
    margin-right: 1px;
    /* display: none; */
}

.input_text_fl{
    outline: none;
    border-style: none; 
    border: 0px;
    padding-left: 15px;
    width: 421px;
    height: 58px;

}
.input_sub_fl{
    outline: none;
    border-style: none;
    font-size: 14px;
    color:white;
    height: 60px;
    width: 100px;
    border: 0px;
    background-color: green;
}
.search_div{
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    width: 1200px;
    height: 80px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.search_div a{
    /* float: left; */
    /* display: inline_block; */
}
.search_div .forms{
    margin:  auto;
    width: 600px;
    height: 60px;
    line-height: 60px;
  border:  1px solid green;

}

.search_div .forms img{
    padding: 10px;;
    width: 40px;
    line-height: 40px;
    height: 40px;
    float: left;
}

.search_div .my_cart{
    margin-top: 20px;
    text-align: center;
    /* top: 20px; */
    border: 1px solid green;
    width: 100px;
    height: 38px;
    line-height: 40px;
    /* background-color: aqua; */
}
.search_div .my_cart strong{
    background-color: yellow;
}

.main_menu_icon{
    margin: 20px auto 0px;
    height: 60px; 
    border-bottom: 2px solid green;
}

.main_menu_icon .menu_content{
    width: 1200px;
    height: 60px; 
    margin: 0 auto;
}

.main_menu_icon h2{
    padding: 0px;
    float: left;
    text-align: center;
    width: 200px;
    background-color: green;
    height: 60px;
    margin-top: 0px;
    line-height: 60px;
    color: white;
}

.main_menu_icon ul{
    margin-top: 0px;
    /* float: left; */
    list-style: none;
}

.main_menu_icon ul li{
    text-align: center;
    width:70px;
    border: 0px;
    border-style: none; 
    
    float: left;
    line-height: 80px;
}

.main_menu_icon ul li a{
    text-align: center;
    width:70px;
    color: black;
    line-height: 80px;
}
.main_menu_icon ul li a:hover{
    color: aqua;
    /* background-color: green; */
}

.sub_menu_conatiner{ 
    /* 居中 */
    margin:  0 auto;
    width: 1200px;
    height: 270px;
    background-color: aqua;
}

.cate{
    padding: 0px;
    width: 200px;
    height: 270px;
    list-style: none;
}


.cate li{
    text-align: center;
    background-color: white;
    margin-left: 0px;
    width: 200px;
    height: 43.8px;
    border-left: 1px solid green;
    border-bottom: 1px solid green;
}

.cate .first_li{
    width: 199px;
    border-top: 1px solid green;
}

.cate li a{
    text-decoration: none;
    color: black;
    line-height: 40px;
    width: 200px;
    height: 44px;
}
.cate li a:hover{
    color: red;
}
.sub_icon{
    margin-right:10px;width:15px;height:15px;
}
.sub_arrow{
    margin-left:10px;width:15px;height:15px;
}
.slide{
    position: relative;
    overflow: hidden;
    margin-left: 0px;
    background-color: rebeccapurple;
    width: 800px;
    height: 270px;
}

/* .slide img{
    float: left;
    margin-left: 0px;  
    width: 800px;
    height: 270px;
} */
.slide .slide_img{
    /* float: left; */
    width: 2400px;
    /* position: absoulte; */
}

.slide_img img{
    float: left;
    margin-left: 0px;  
    width: 800px;
    height: 270px;
}

.slide .prev{
    left: 20px;
    top: 120px;
    position: absolute;
    width: 20px;
    height: 20px;
}

.slide .next{
    left: 755px;
    top: 120px;
    width: 20px;
    height: 20px;
    position: absolute;
}

.point{
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 9px;
    left: 0;
    font-size: 0;
    text-align: center;
}

.point li{
    float: left;
    cursor: pointer;
    width: 11px;
    height: 11px;
    background-color: #9f9f9f;
    margin: 0px 2px;
    border-radius: 50%;
}

.adv{
    background-color: red;
    width: 200px;
    height: 270px;
}

.common_model{
    margin: 0 auto 10px;
    width: 1200px;
    height: 437px;
    margin-top: 20px;
}
.common_model .common_title_con div{
    display: flex;
    justify-content: space-between;
}

.common_model .common_title_con{
    margin: 0 auto;
    line-height: 60px;
    height: 60px;
    display: flex;
    justify-content: space-between;

}
.common_model .common_title_con h3{
    padding: 0px;
    float: left;
    text-align: center;
    width: 200px;
    background-color: green;
    height: 60px;
    margin-top: 0px;
    line-height: 60px;
    color: white;
}

.common_model .common_title_con ul{
    display: flex;
}

.common_model .common_title_con ul li{
   margin-left: 20px;
 
}
.common_model .common_title_con ul li a{
    color:black;
}
.common_model .common_title_con ul li a:hover{
    color:green;
}
.goods_banner .banner_img{
    width: 350px;
    height: 357px;
    backface-visibility: hidden;
    /* 需要设置初始的transform 否则会出现bug */
    transform:perspective(800px) rotateY(0deg);
    transition: all  200ms ease;
}
.goods_banner{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
}

.goods_banner:hover  .banner_img {
    transform:perspective(800px)  rotateY(180deg);
}

.goods_banner:hover  .introduce {
    transform:perspective(800px)  rotateY(0deg);
}

.introduce{
    backface-visibility: hidden;
    left: 0px;
    line-height: 357px;
    text-align: center;
    width: 350px;
    height: 357px;
    top: 0px;
    transition: all  200ms ease;
    transform:perspective(800px)  rotateY(-180deg);
    background-color: #809f9f9f;
    position: absolute;
}

.goods_content{
    width: 1200px;
    display: flex;
}
.good_list{
    display: flex;    
}
.good_list li{
    border: 0.1px solid green;
    width: 25%;
}
.good_list li div{
  text-align: center;
}
.good_list h4{
    text-align: center;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
}

.item_content{
    overflow: hidden;
    height: 250px;
    position: relative;
}

.item_text{
    left: 5%;
    top: 250px;
    height: 50px;
    width: 90%;
    background-color: #809f9f9f;
    /* background-color: black; */
    position: absolute;
    transition:  all ease 200ms;
}


.good_list img{
    background-color: aqua;
    margin: 0 auto;
    width: 90%;
    height: 250px;
}

.item_content:hover .item_text{
    top: 200px;
}

.price{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.footer{
    text-align: center;

    margin: 0 auto;
    width: 1200px;

}
.footer .about{
    height: 50px;
    line-height: 50px;
    
    width: 1200px;
}
.phone{
    margin-bottom: 50px;    
    color: green;
}
